{% extends 'padre.html' %}
{% load static %}
{% block ContenidoQueCambia %}
<head>
    <title>Login Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'UserApp/css/styleContactUs.css'%}">
    {% comment %} <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> {% endcomment %}
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<div class="container">

<!------ Include the above in your HEAD tag ---------->

  <!-- Contact Us Section -->
    <section class="Material-contact-section section-padding section-dark">
      <div class="container">
          <div class="row">
              <!-- Section Titile -->
              <div class="col-md-12 wow animated fadeInLeft" data-wow-delay=".2s">
                  <h1 class="section-title">¿Quienes Somos?</h1>
              </div>
          </div>
          <div class="row">
              <!-- Section Titile -->
              <div class="col-md-6 mt-3 contact-widget-section2 wow animated fadeInLeft" data-wow-delay=".2s">
                <p>Somos un grupo que le gusta viajar. Generamos un blog para compartir experiencias e información útil </p>
                <div class="find-widget">
                 Compania: ninguna
                </div>
                <div class="find-widget">
                 Dirección: Avenida Siempre Viva 123
                </div>
                <div class="find-widget">
                  Telefono:  +0303456
                </div>
                
                <div class="find-widget">
                  Redes sociales:  <a href="https://www.instagram.com">Instagram</a>
                </div>
                
              </div>
              <!-- contact form -->
              <div class="col-md-6 wow animated fadeInRight" data-wow-delay=".2s">
                  

              </div>
          </div>
      </div>
    </section>
</div>
{% endblock ContenidoQueCambia %}