{% extends 'padre.html' %}
{% load static %}
{% block ContenidoQueCambia %}
<head>
    <title>Login Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'UserApp/css/styleContactUs.css'%}">
    {% comment %} <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> {% endcomment %}
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<div class="container">

<!------ Include the above in your HEAD tag ---------->

  <!-- Contact Us Section -->
    <section class="Material-contact-section section-padding section-dark">
      <div class="container">
          <div class="row">
              <!-- Section Titile -->
              <div class="col-md-12 wow animated fadeInLeft" data-wow-delay=".2s">
                  <h1 class="section-title">Dejanos alguna sugerencia...o queja</h1>
              </div>
          </div>
          <div class="row">
              <!-- Section Titile -->
              <div class="col-md-6 mt-3 contact-widget-section2 wow animated fadeInLeft" data-wow-delay=".2s">
                <p>Somos un grupo que diseñó una red social donde diversos usuarios puedan interactuar sobre temas creados por ellos con la libertad necesaria</p>
                <div class="find-widget">
                 Compania: UserApp
                </div>
                <div class="find-widget">
                 Dirección: Calle falsa 123
                </div>
                <div class="find-widget">
                  Telefono:  +011 12345678
                </div>
                
                <div class="find-widget">
                  Redes sociales:  <a href="https://www.instagram.com">Instagram</a>
                </div>
                
              </div>
              <!-- contact form -->
              <div class="col-md-6 wow animated fadeInRight" data-wow-delay=".2s">
                  




                  <form class="shake" role="form" method="post" id="contactForm" name="contact-form" data-toggle="validator" >
                    {% csrf_token %}

                      <!-- Name -->
                      <div class="form-group label-floating">
                        <label class="control-label" for="name">Nombre</label>

                        <input class="form-control" id="name" type="text" name="name" required data-error="Por favor ingrese su nombre">

                        <div class="help-block with-errors"></div>
                      </div>
                      <!-- email -->
                      <div class="form-group label-floating">
                        <label class="control-label" for="email">Email</label>

                        <input class="form-control" id="email" type="email" name="email" required data-error="Por favor ingrese su mail">

                        <div class="help-block with-errors"></div>
                      </div>
                      <!-- Subject -->
                      <div class="form-group label-floating">
                        <label class="control-label">Destino</label>

                        <input class="form-control" id="msg_subject" type="text" name="subject" required data-error="Por favor agregue una direccion">

                        <div class="help-block with-errors"></div>
                      </div>
                      <!-- Message -->
                      <div class="form-group label-floating">
                          <label for="message" class="control-label">Mensaje</label>

                          <textarea class="form-control" rows="3" id="message" name="message" required data-error="Escriba su mensaje"></textarea>

                          <div class="help-block with-errors"></div>
                      </div>
                      <!-- Form Submit -->
                      <div class="form-submit mt-5">

                          <button class="btn btn-common" type="submit" id="form-submit"><i class="material-icons mdi mdi-message-outline"></i> Enviar</button>
                          
                          <div id="msgSubmit" class="h3 text-center hidden"></div>
                          <div class="clearfix"></div>
                      </div>
                  </form>


              </div>
          </div>
      </div>
    </section>
</div>
{% endblock ContenidoQueCambia %}